.claude
.direnv
.env.*.local
.env.keys
.env.local
.next
.nx/cache
.nx/workspace-data
.plasmo
.task
.vite
*.db
*.db-journal
*.db-shm
*.db-wal
*.embed
apps/cli/devtoolscli
data
dist
next-env.d.ts
node_modules
out
storybook-static
tsconfig.tsbuildinfo
tsp-output

# Coverage files
*.out
coverage.out
