.ag-theme-devtools {
  --ag-font-size: theme(fontSize.sm);
  --ag-font-family: theme(fontFamily.sans);

  --ag-grid-size: theme(size[1.5]);
  --ag-row-height: theme(size.8);

  --ag-header-foreground-color: theme(colors.neutral.500);

  --ag-range-selection-border-color: theme(colors.indigo.400);
  --ag-input-focus-border-color: theme(colors.indigo.400);

  --ag-border: solid 1px;
  --ag-border-color: theme(colors.black);
  --ag-border-radius: theme(borderRadius.DEFAULT);

  --ag-header-column-resize-handle-display: block;
  --ag-header-column-resize-handle-color: theme(colors.black);
}
