@import '@fontsource-variable/dm-sans';
@import '@fontsource/dm-mono';

@import 'tailwindcss' source(none);

@import 'tw-animate-css';

@plugin 'tailwindcss-react-aria-components';

@source '..';

@theme {
  --font-sans: 'DM Sans Variable', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'DM Mono', ui-monospace, monospace;

  --text-md: 0.8125rem;
}

@custom-variant route-active {
  &[data-status='active'] {
    @slot;
  }
}

@import './colors/index.css';

html {
  @apply bg-neutral-lowest text-on-neutral;

  scrollbar-color: var(--on-neutral-low) transparent;
}
