go 1.23.2

use (
	./dev-tools-backend
	./dev-tools-cli
	./dev-tools-db
	./dev-tools-mail
	./dev-tools-masternode
	./dev-tools-nodes
	./dev-tools-platform
	./dev-tools-slave
	./node_modules/@the-dev-tools/spec
)
