name: Release / Electron Builder

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    continue-on-error: true
    strategy:
      matrix:
        runner:
          - macos-15-intel # x64
          - macos-latest # arm64
          - ubuntu-latest # x64
          - windows-latest # x64
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    env:
      PUBLIC_UMAMI__ENABLE: ${{ vars.UMAMI_ENABLE }}
      PUBLIC_UMAMI__HOST: ${{ vars.UMAMI_HOST }}
      PUBLIC_UMAMI__ID: ${{ vars.UMAMI_ID }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup runner environment
        uses: ./.github/actions/setup

      - id: info
        name: Get project information
        run: gha-scripts export-project-info

      - name: Build (macOS)
        if: runner.os == 'macOS'
        env:
          APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
          CSC_LINK: ${{ secrets.CSC_LINK }}
        run: pnpm nx run ${{ steps.info.outputs.NAME }}:build

      - name: Build (Linux)
        if: runner.os == 'Linux'
        run: pnpm nx run ${{ steps.info.outputs.NAME }}:build

      - name: Build (Windows)
        if: runner.os == 'Windows'
        env:
          AZURE_KEY_VAULT_CERTIFICATE: ${{ secrets.AZURE_KEY_VAULT_CERTIFICATE }}
          AZURE_KEY_VAULT_CLIENT_ID: ${{ secrets.AZURE_KEY_VAULT_CLIENT_ID }}
          AZURE_KEY_VAULT_CLIENT_SECRET: ${{ secrets.AZURE_KEY_VAULT_CLIENT_SECRET }}
          AZURE_KEY_VAULT_TENANT_ID: ${{ secrets.AZURE_KEY_VAULT_TENANT_ID }}
          AZURE_KEY_VAULT_URL: ${{ secrets.AZURE_KEY_VAULT_URL }}
        run: pnpm nx run ${{ steps.info.outputs.NAME }}:build

      - name: Publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gha-scripts upload-electron-release-assets
