name: Release / Go

on:
  workflow_dispatch:

jobs:
  build:
    name: Build Go Binary
    continue-on-error: true
    strategy:
      matrix:
        include:
          - runner: macos-15-intel
            platform: darwin-x64
          - runner: macos-latest
            platform: darwin-arm64
          - runner: ubuntu-latest
            platform: linux-x64
          - runner: ubuntu-latest
            platform: linux-arm64
          - runner: windows-latest
            platform: win32-x64
          - runner: windows-latest
            platform: win32-ia32
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup runner environment
        uses: ./.github/actions/setup

      - id: info
        name: Get project information
        run: gha-scripts export-project-info

      - name: Build Binary
        env:
          VERSION: ${{ steps.info.outputs.VERSION }}
          PLATFORM: ${{ matrix.platform }}
          CGO_ENABLED: '0'
        run: pnpm nx run ${{ steps.info.outputs.NAME }}:build:release

      - name: Publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gha-scripts upload-go-release-assets
